{% extends './base.html.twig' %}
{% block title %}
	{{ titre }}
{% endblock %}

{% block body %}
	<h1 class='mt-5'>
		{{ titre }}
	</h1>

	<div class="container mt-5">
		<div class="row d-flex justify-content-center">
			{% for wish in wishs %}
				<div class="card" style="width: 18rem;margin: 10px;">
					<div class="card-body">
						<h5 class="card-title">{{ wish.title }}</h5>
						<h6 class="card-subtitle mb-2 text-muted">{{ wish.author }}, le {{ wish.dateCreated | date('d-m-Y') }} à {{ wish.dateCreated | date('H:i') }}</h6>
						<a type="button" href="{{ path('app_detail', {'id':wish.id})}}" class="btn btn-success card-link">Détails</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
