{% extends './base.html.twig' %}
{% block title %}
	{{ titre }}
{% endblock %}

{% block body %}
	<h1 class='mt-5'>
		{{ titre }}
	</h1>

	<div class="container mt-5">
		<form action="/update/{{ wish.id }}" method="POST">
			<div class="mb-3 col-4 offset-4">
				<label for="title" class="form-label">Title</label>
				<input type="text" class="form-control" id="title" name="title" value="{{ wish.title }}">
			</div>
			<div class="mb-3 col-4 offset-4">
				<label for="description" class="form-label">Description</label>
				<textarea class="form-control" id="description" name="description" rows="3">{{ wish.description }}</textarea>
			</div>
			<div class="mb-3 col-4 offset-4">
				<label for="author" class="form-label">Author</label>
				<input type="text" class="form-control" id="author" name="author" value="{{ wish.author }}">
			</div>
            {# <div class="mb-3 col-4 offset-4">
				<label for="date" class="form-label">Date</label>
				<input type="date" class="form-control" id="date" name="date">
			</div> #}
			<button type="submit" class="btn btn-primary">Modifier</button>
		</form>
	</div>

{% endblock %}